.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  color: white;
  padding: 20px 0;
}

.App-header > div {
  margin: 0 auto;
  padding: 50px 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-booking-time {
  display: inline-block;
  width: 400px;
}

.App-booking-duration {
  display: inline-block;
  width: 80px;
}

.App-booking-user {
  display: inline-block;
  width: 80px;
}

.rbc-events-container {
  display: grid;
  grid-template-rows: repeat(24, 40px);
}

.rbc-day-slot .rbc-event {
  position: static;
}

.rbc-day-slot .rbc-event--new {
  background-color: #fbab18;
}

.rbc-day-slot .rbc-event--overlap {
  background-color: #adadad;
}

.btn-update-booking {
  color: #fff;
  background-color: #fbab18;
  border: 1px solid #ccc;
  margin: 10px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  line-height: normal;
  white-space: nowrap;
}